.usersContainer {
    height: inherit;
    width: inherit;
}

.inheritHAndW {
    height: inherit;
    width: inherit;
}

.usrListHeaders {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 60px;
    background: #494a4d;
}

.usrListHeader {
    text-align: center;
    padding: 5px;
}

.usrListRecords {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 60px;
}

.actionsCont {
    display: flex;
    gap: 15px;
}